[submodule "third_party/raylib"]
	path = third_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "third_party/gsl"]
	path = third_party/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/rlImGui"]
	path = third_party/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
